.order-checkout {
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 80px;
}

.contents {
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}
.order-wrap {
	position: relative;
	margin: 0 auto;
}
.order-tab-wrap {
	display: inline-block;
	width: 1000px;
}
#block {
	display: block;
	width: 100%;
}
.order-checkout .contents-title {
	padding: 50px 0 30px;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -0.2px;
	text-align: center;
	color: #111111;
}

.order-tab:first-child {
	margin-top: 0;
}

.order-tab {
	background-color: #ffffff;
	float: left;
	display: inline-block;
	box-sizing: border-box;
}

.order-tab .header {
	position: relative;
	padding: 32px 25px;
}

.order-tab .header .tit {
	color: #111111;
	display: inline;
	font-weight: bold;
	font-size: 22px;
	vertical-align: middle;
	line-height: 1;
}
.order-tab .body {
	padding: 0 25px 32px;
	font-size: 14px;
}

.uk-grid {
	margin-left: -20px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.order-tab .body .order-field-list {
	margin-bottom: 10px;
	line-height: 1.6;
}

.uk-grid > * {
	padding-left: 20px;
	float: left;
}
li {
	display: list-item;
}

.uk-grid > * > :last-child {
	margin-bottom: 0;
}

.order-tab .body .order-field-list .input-form-group {
	margin-top: 50px;
}

.order-tab .footer {
	padding: 0px 25px 50px;
}

.button.xlarge {
	height: 48px;
	font-size: 15px;
	padding: 16px 50px;
	border-radius: 5px;
}

.button.width-max {
	width: 100%;
	text-aling: center;
} 
.width-max {
	max-width: 100%;
}

.button {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0;
	border: 0;
	color: #fff;
	background-color: #000000;
	cursor: pointer;
	line-height: 100%;
	box-sizing: border-box;
}

.order_tab_wrap--right {
	float: right;
	width: 384px;
}

.order_tab_wrap .order_tab:first-child {
	margin: 0;
}

.order_tab_wrap .order-tab {
	float: none;
	width: auto;
	display: block;
}

.order_tab_wrap .order-tab.product-checkout .header {
	background: #e5e5e5;
	padding: 20px;
	z-index: 1;
	border-radius: 5px;
}

.order-tab .header {
	position: relative;
	border-top: 1px solid #d1d1d1;
}

.order_tab_wrap .order-tab .header .tit {
	position: relative;
	display: block;
	font-size: 16px;
}

.order-tab .header .tit {
	vertical-align: middle;
}

.order_tab_wrap .order-tab.product-checkout .body {
	padding: 20px;
}

.order_tab_wrap .order-tab .view {
	opacity: 1;
	height: 100%;
}

.order_tab_wrap .order-tab .body {
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-radius: 5px;
}
.order-tab .body {
	font-size: 16px;
}
.order_tab_wrap .order-tab.product-checkout .cart-order_list {
	margin: 0;
	padding: 0;
	border-top: 0;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 15px;
}

.order_tab_wrap .order-tab.product-checkout .order-list:first-child {
	padding-top: 0;
}
.order_tab_wrap .order-tab.product-checkout .order-list {
	padding: 20px 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.order-wrap .product-checkout .order-list {
	border-bottom: 0;
}
.cart-order_list .order-list {
	position: relative;
}
.order_tab_wrap .order-tab.product-checkout .order-list .image-wrap {
	float: none;
	width: 120px;
	display: table-cell;
	vertical-align: top;
}

.cart-order_list .order-list .image-wrap {
	padding: 0;
	box-sizing: border-box;
}
.order_tab_wrap .order-tab.product-checkout .order-list .order-info {
	padding-left: 15px;
}
.cart-order_list .order-list .order-info {
	width: 100%;
	display: table-cell;
	padding: 0 0 0 30px;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
}
.order_tab_wrap .order-tab.product-checkout .order-list .order-info .tit {
	display: block;
	color: #111111;
	font-weight: bold;
	margin: 0 0 15px 0;
	max-height: none;
	line-height: 18px;
}

.cart-order_list .order-list .order-info .tit {
	width: 87%;
}
a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	background: transparent;
}
order-info .tit {
	color: black;
}

.cart-order_list .order-list .order-info .qty {
	display: inline-block;
}
.order_tab_wrap .order-tab.product-checkout .order-list .order-info .price-wrap {
	margin-top: 18px;
}
.cart-order_list .price-wrap {
	display: inline-block;
	min-width: 100%;
}
.cart-order_list .price-wrap .retail-price {
	color: #FA5402;
}
.order-wrap .product-checkout .info-price {
	padding-top: 15px;
}
.uk-width-1-1 {
	width: 100%;
}
.order-wrap .product-checkout .info-price .item-price:first-child {
	margin-top: 0;
}
.order-wrap .product-checkout .info-price .item-price {
	display: inline-block;
}
.product-checkout .info-price > span {
	width: 100%;
}
.order-wrap .product-checkout .info-price .item-price > .label,
.order-wrap .product-checkout .info-price .delivery-price > .label,
.order-wrap .product-checkout .info-price .total-price > .label {
	display: inline-block;
	float: left;
}
.product-checkout .label {
	font-size: 16px;
	color: #000;
	font-weight: 500;
	letter-spacing: -1px;
}
.order-wrap .product-checkout .info-price .item-price > .price,
.order-wrap .product-checkout .info-price .delivery-price > .price,
.order-wrap .product-checkout .info-price .total-price > .price  {
	display: inline-block;
	float: right;
}
.order_tab_wrap .order-tab.product-checkout .price {
	text-align: right;
	
}
.product-checkout .price {
	font-size: 16px;
}

.order-wrap .product-checkout .info-price .delivery-price {
	display: inline-block;
	margin-top: 20px;
}
.order-wrap .product-checkout .info-price .total-price {
	margin-top: 30px;
	padding-bottom: 20px;
}

.product-checkout .total-price {
	padding: 0;
	border: none;
	width: 100%;
}

.product-checkout .total-price .label {
	font-size: 18px;
}
.product-checkout .price.sale {
	color: #fa5400;
}
.product-checkout .price {
	font-size: 16px;
}

.order-tab .body .order-field-list .payment-method-list .payment-method-item {
	max-width: 480px;
	margin-bottom: 10px;
}
.payment-method-list {
	width: 600px;
}
.order-field-list .payment-method-list .payment-method-item .payment-method-item-title {
	box-sizing: border-box;
	padding: 17px 25px 16px;
	border: 1px solid #d1d1d1;
	font-size: 19px;
	cursor: pointer;
	text-align: center;
}
.payment-method-item-title {
	color: #606060;
}

.input-checkbox > label > .label {
	font-size: 18px;
	margin-left: -10px;
}
.icon-checkbox {
	float: left;
	width: 15px;
	height: 15px;
	background-position: -22px -320px;
	z-index: 10;
}
[type=checkbox] {
	width: 18px;
	height: 18px;
}
.order-tab .order-complete {
	position: relative;
}
.uk-width-7-10 {
	width: 70%;
}

.total-price strong {
	font-size: 20px;
}
