@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif !important;
}

.od-container {
	padding-top: 120px;
	max-height: 1440px;
	width: 1200px;
}
.big-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}