* {
	box-sizing: content-box;
}

.wrapper {
	padding-top: 120px;
	z-indec: 10;
	min-height: 100%;
}

.section {
	display: block;
}

.order-checkout {
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
}

.contents {
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}

.order-tab {
	border-top : 1px solid #d1d1d1;
	float: left;
	display: inline-block;
	box-sizing: border-box;
	width: 906px;
	margin: 0px 20px;
}

.order-tab .header {
	position: relative;
	padding: 20px;
}

.mini-box {
	border: 1px solid #e5e5e5;
	background-color: #e5e5e5;
	border-radius: 5px;
	width: 380px;
	height: 65px;
}
.order-tab .header .tit {
	display: inline;
	font-weight: bold;
	font-size: 18px;
}

.order-wrap {
	position: relative;
	margin: 0 auto;
}

.order-wrap .contents-title {
	margin: 0 auto;
	letter-spacing: -0.2px;
	text-align: center;
	padding-bottom: 30px;
	font-size: 28px;
}


.order_tab_wrap--right {
	float: right;
	width: 384px;
}

.order_tab_wrap .order-tab {
	float: none;
	width: 380px;
	display: block;
	overflow: hidden;
	border-radius: 5px;
}

.order_tab_wrap .order-tab.product-checkout .body {
	padding: 20px;
}
.order_tab_wrap .order-tab .view {
	opacity: 1;
	height: 100%;
}
.order_tab_wrap .order-tab .body {
	border-top: 0px;
	border-radius: 5px;
}

.order_tab_wrap .order-tab.product-checkout .order-list {
	padding: 20px 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	border-bottom: 1px solid #d1d1d1;
}

.cart-order_list .order-list {
	position: relative;
}

.order_tab_wrap .order-tab.product-checkout .order-list .image-wrap {
	float: none;
	width: 120px;
	display: table-cell;
	vertical-align: top;
	padding: 0;
	box-sizing: border-box;
}

.order_tab_wrap .order-tab.product-checkout .order-list .order-info .tit {
	display: block;
	font-weight: bold;
	margin: 0 0 15px 0;
	line-height: 18px;
	color: black;
}
.order-info {
	padding-left: 20px;
}
.order-wrap .product-checkout .info-price {
	padding-top : 15px;
}

.delivery-info {
	width: 100%;
	margin-top: 25px;
}

.delivery-info h6 {
	vertical-align: middle;
	margin-bottom: 25px;
	border-top: 1px solid #d1d1d1;
	padding-top: 30px;
}

.button.xlarge {
	height: 48px;
	font-size: 15px;
	padding: 16px 50px;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #000000;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
	border: none;
	width: 900px;
	border-radius: 5px;
}

.button.xlarge:hover {
	background-color: #404040; 
}

.goCart-btn {
	padding: 32px 0px;
}

.link {
	text-decoration: underline;
	color: #333;
}

.link:hover {
	color: #333;
}

.address {
	padding: 0px 0px 20px 0px;
	border-top: 1px solid #d1d1d1;
}

.address [type=text] {
	padding: 9px 12px;
	margin: 4px;
}

.address [type=button] {
	background-color: white;
	border: 1px solid #d1d1d1;
	padding: 9px;
	margin: 3px;
}

.delivery-message {
	padding: 9px 12px;
	margin: 0px 4px;
	padding-left: 0px;
	padding-right: 292px;
	color: #383838;
	margin-bottom: 5px;
	margin-top: 5px;
}
.direct {
	padding: 9px 12px;
	color: #383838;
	margin: 0 3px;
	width: 494px;
	height: 44px;
}
.cart-order_list .price-wrap {
  display: inline-block;
  min-width: 100%;
  margin-top: 8px;
}
.uk-width-1-1 {
	width: 100%;
}
.info-price > span {
	width: 100%;
}
.info-price .item-price,
.info-price .delivery-price,
.info-price .total-price {
	display: inline-block;
	padding-left: 20px;
}
.info-price .item-price > .label, 
.info-price .delivery-price > .label, 
.info-price .total-price > .label {
	float: left;
}
.info-price .item-price > .price , 
.info-price .delivery-price > .price , 
.info-price .total-price > .price {
	float: right;
	padding-right: 20px;
}
.product-checkout .price.total > strong {
	font-size: 20px;
	font-weight: bolder;
	color: #fa5400;
}

.total-price {
	padding-top: 20px;
	padding-bottom: 20px;
}
.total-price .label {
	font-size: 18px;
	padding-right: 125px;
}
.padding {
	padding-left: 20px;
}
