@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding : 0;
	font-family: 'Noto Sans KR', sans-serif;
	-webkit-tap-highlight-color: transparent;
}
div {
    display: block;
}
ul, li, ol, dl, dt, dd {
    list-style: none;
    font-size: 14px;
    line-height: 1.571;
    letter-spacing: 0;
}
a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}



.play_list_area {
    position: relative;
}
.mt20 {
    margin-top: 20px !important;
}
.play_list_type1 ul li:not(.swiper-slide) {
    padding: 0 10px 60px 10px;
}
.play_list_type1 ul li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    box-sizing: border-box;
}
.play_list_type1 .play_box {
    position: relative;
}
li {
    text-align: -webkit-match-parent;
}
.play_list_type1 .play_box .play_thum {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 153.846%;
    overflow: hidden;
    background: #ebebeb;
}
img, input {
    border: 0;
    vertical-align: middle;
}
.play_list_type1 .play_box .play_label {
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 2; */
    font-size: 0;
}

.play_list_type1 .play_box .play_info {
    margin-top: 15px;
}

.play_list_type1 .play_box .play_info .play_tch {
    margin-bottom: 3px;
    
}
.play_list_type1 .play_box .play_info .play_tch span {
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    color: #000;
}
.play_list_type1 .play_box .play_info .play_tch span:before {
    display: inline-block;
    vertical-align: middle;
    width: 2.5px;
    height: 2.5px;
    margin: -2px 5px 0;
    border-radius: 100%;
    background: #000;
}
.play_list_type1 .play_box .play_info .play_tit {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
}
.play_list_type1 .play_box .play_info .play_tit > p {
    display: inline-block;
    height: 44px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.play_list_type1 .play_box .play_info .play_date2, .play_list_type1 .play_box .play_info .play_date2 span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #666;
}
.play_list_type1 .play_box .play_info .play_date2 + .play_date2 {
    margin-top: 2px;
}

.play_list_type1 .play_box .play_info .play_date, .play_list_type1 .play_box .play_info .play_time, .play_list_type1 .play_box .play_info .play_num {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #666;
}
.maincolor1 {
    color: #7b2fb9 !important;
}
b {
    font-weight: bold;
}
.label.on {
    color: #fff;
    background: #7b2fb9;
}
.label.round {
    padding: 0 7px;
    border-radius: 50px;
}
.label.small2 {
    padding: 0 7px;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
}
.label {
    display: inline-block;
    text-align: center;
    padding: 0 8px;
    margin: 0;
    font-size: 13px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    background: #111;
}
.play_list_type1 .play_box .play_info .play_price {
    margin-top: 15px;
}
.play_list_type1 .play_box .play_info .play_tit {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
}
.play_list_type1 .play_box .play_info .play_price .cost {
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    color: #000;
}
.play_list_type1 .play_box .play_info .play_price .cost:after {
    content: 'ì›';
    font-weight: 700;
}
.play_list_type1 .play_box .play_info .play_price .ct_cost {
    font-size: 12px;
    color: #666;
}
.play_list_type1 .play_box .play_info .play_price > div {
    display: inline-block;
}












