@charset "UTF-8";
/* 리뷰쓰기 */
.btn_text2 {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	font-weight: 700;
	color: #000;
}

.btn_text2:hover {
	text-decoration: none;
}

.font15 {
	font-size: 15px !important;
	line-height: 22px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.fr {
	float: right !important;
	display: inline-block;
}

.review_wrap {
	cursor: pointer;
}

.table_basic_list.list3 ul li {
	display: table;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.table_basic_list.list3 ul li>div {
	display: table-cell;
	vertical-align: top;
}

.review_nm {
	margin-bottom: 10px;
}

.login_thum {
	display: inline-block;
}

.middle {
	display: inline-block;
	vertical-align: middle;
}

.login_thum span {
	width: 30px;
	height: 30px;
	background: url(https://img.hamggae.com/www/common/icon/bg_thum.png);
	background-size: cover;
	display: inline-block;
	border-radius: 50px;
	border: 1px solid #f8f8f8;
	overflow: hidden;
}

.star_group.small {
	display: inline-block;
	vertical-align: middle;
}

.ml5 {
	margin-left: 5px !important;
}

.star_group.small>span.on {
	background-position: -115px 0;
}

.star_group.small>span {
	display: inline-block;
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 2px;
	background: url(/resources/class/img/star.png);
	background-size: 65px auto;
	background-position: 0 0;
	text-indent: -9999px;
	font-size: 0;
	cursor: pointer;
}

.review_txt {
	/* height: 48px; */
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #555;
	/* overflow: hidden; */
	text-overflow: ellipsis;
	word-wrap: break-word;
	/* display: -webkit-box; */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}