@charset "UTF-8";

.contents.margin-xsmall {
	margin-top: 40px;
}
	

.cart-title {
	padding: 0;
	margin: 0 0 15px 0;
	margin-top: 150px;
	text-align: center;
	font-size: 28px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: -0.2px;
	color: #111111;
}
	
.mc-cart-num {
	width: 100%;
	text-align: center;
	margin: 0;
	font-size: 16px;
	color: #666;
}
	
.item-container {
	display: table;
	width: 100%;
	max-width: 1440px;
	min-height: 320px;
	margin: 30px auto 0;
	/*padding: 0 55px 80px;*/
	box-sizing: border-box;
}

.item-list-wrap {
	display: block;
	width: 100%;
	max-width: 100%;
	text-align: left;
}

.product-opt_cart {
	position: relative;
  	width: 100%;
  	border-top: 1px solid #dedfda;
  	padding: 20px 50px 20px 0;
  	box-sizing: border-box;
}

.product-opt_cart:last-child {
	border-bottom: 1px solid #dedfda;
}

.item-detail {
	display: table;
	width: 100%;
	min-height: 110px;
}

.product-opt_cart .item-detail .item-info {
  width: 68%;
}

.product-opt_cart .item-detail .item-info .img-wrap {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  width: 110px;
  background-color: #f6f5f6;
}

.product-opt_cart .item-detail .item-info .info-wrap {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 158px;
  line-height: 18px;
  vertical-align: top;
}

.opt.quantity {
  display: block;
}

.product-opt_cart .item-detail .total-price {
  padding-top: 3px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.mypage-cart .product-opt_cart .item-detail .total-price strong {
  font-size: 15px;
}

.product-opt_cart .item-detail .delete-btn {
  position: absolute;
  top: 23px;
  right: 10px;
}

.product-opt_cart .item-detail .delete-btn .btn-delete {
  color: #ddd;
}

.product-opt_cart .item-detail .option-wrap .optchange-btn {
  display: inline;
  font-size: 14px;
  color: #6c6c6c;
  text-decoration: underline;
  border-radius: 0;
}


.product-opt_cart .item-detail .option-wrap {
  width: 22%;
  padding-left: 10px;
  vertical-align: top;
}

.item-container .item-list-wrap {
  margin: 0;
  float: left;
  display: inline-block;
  width: 906px;
  width: -webkit-calc(100% - 424px);
  width: -moz-calc(100% - 424px);
  width: calc(100% - 424px);
  box-sizing: border-box;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  
 /*  background-color: red; */
}

.item-container .item-list-wrap.item-list-no {
  width: 100%;
  margin: 0;
  padding: 0 64px 0 48px;
}

.item-container .item-list-wrap .product-select-all {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}

.item-container .item-list-wrap .product-select-all .btn-cart-delete-All {
  text-decoration: underline;
}

.item-container .product-checkout {
  margin: 0;
  width: 384px;
  max-width: none;
  vertical-align: top;
  display: inline-block;
  float: right;
  border-top: 1px solid #d1d1d1;
  
  /* background-color: green; */
}

.item-container .product-checkout .tit {
  display: block;
  margin-top: -1px;
  padding: 20px;
  border-bottom: 0;
  background-color: #e5e5e5;
  font-size: 16px;
  font-weight: bold;
  
}

.product-checkout .info-price > span {
  width: 100%;
  display: table;
  margin-top: 20px;
}

.product-checkout .total-price {
  display: table;
  width: 100%;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  margin-top: 42px;
  padding: 27px 0px 27px 0px;
}

.product-checkout .total-price .label {
  font-size: 20px;
}

.product-checkout .btn-order {
  margin-top: 15px;
  background-color: #fb5302;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  height: 48px;
  padding: 16px 50px;
  max-width: 100%;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  line-height: 100%;
  box-sizing: border-box;
}
















  
